body {
    /* background-image: linear-gradient(to right, #f46b45, #eea849); */
    background-image: linear-gradient(to right, #2250bdd5, #9d5ccf,rgb(39, 254, 218));
    color: white;
    text-align: center;
  }
  .wrapper {
    width: fit-content;
    margin: auto;
  }
  .hint-div {
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    color: wheat;
  }
  .hint-btn,
  .reset-btn,
  .notif-btn {
    cursor: pointer;
  }
  .reset-btn {
    margin-left: auto;
  }

  .btn{
    width: 3px;
    height: 3px;
    padding: 30px;
  }


  .alpha {
    width: 4rem;
    height: 4rem;
    background-image: linear-gradient(to right ,rgb(152, 121, 234), rgb(18, 82, 145),aqua);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 30px;
    font-weight: bold;
    margin: 3px;
    cursor: pointer;
  }
  .alpha:hover {
    background-color: #e75480;
    border: none;
  }
  .disabled {
    pointer-events: none;
    background-color: darkgray;
  }
  
  .word-div {
    display: inline-flex;
  }
  .word {
    margin-right: 1.5rem;
  }
  
  .notif {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image:linear-gradient(to right, rgb(229, 26, 114),rgb(203, 72, 116));
    color: white;
    width: 20rem;
    padding: 20px 10px;
    border-radius: 4px;
    box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.2);
  }
  .blur {
    filter: blur(2px);
  }
  .hidden {
    display: none;
  }